body{
    background-color: rgb(29, 29, 29);
    font-family: arial,sans-serif;
    color: white;
    font-size: 12px;
}

a{
    padding: 5px;
    font-size: 12px;
    
}

a:hover{
    color: red;
}

.links{
    text-align: right;
    padding: 20px;
}

form{
    margin-top: 15px;
    text-align: center;
}

#searchbar{
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    width: 500px;
    height: 35px;
    border: .5px solid white;
    border-radius: 20px;
    background-color: transparent;
}

#searchbutton{
    text-align: center;
    font-size: 14px;
    width: auto;
    height: 30px;
    margin: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(48, 48, 48);
    color: white;
}

.title{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 90px;
    color: white;
}






form{
    flex:1 1 0;
}


.maindiv{
    justify-content: center;
    padding: 20px;
    margin-left: 25px;
    margin-right: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.754);
}



#Google a{
    font-size: 26px;
    color: white;
    text-decoration: none;
}
.advancedlinks{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.advancedtitle{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 25px;
    text-align: left;
    font-size: 22px;
    color: rgb(255, 74, 74);
    border-bottom: 1px white solid;
}

.subtitle{
    display: flex;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 50px;
    text-align: left;
    font-size: 16px;
    font-weight: 200px;
    color: white;
    justify-content: space-between;
}

.searchfield{
    display: flex;
    flex-shrink: 1;
    /* border: 2px solid red; */
    text-align: center;
    width: auto;
    justify-content: space-between;
    align-items: center;
}
    

    

#advancedsearchbartext{
    text-align: left;
    width: 16%;
    height: 25px;
    /* border: 2px solid blue; */
}
#advancedsearchbar{
    color: white;
    text-align: left;
    width: 100%;
    height: 15px;
    flex: 1 1 0;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid white;
}

.button
{
    margin-top: 25px;
    background: #8ab4f8;
    border: 1px;
    border-color: #8ab4f8;
    color: #202124;
    border-radius: 3px;
    justify-content: right;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
.buttonfield{
    display: flex;
    flex-shrink: 1;
    /* border: 2px solid red; */
    text-align: center;
    width: auto;
    justify-content: right;
    align-items: center;
    margin-right: 35px;
}
/* #left{
    padding: 0;
    margin: 0;
    text-align: left;
    border: 2px solid blue;
}

#right{
    text-align: right;
    width: auto;
    border: 2px solid blue;
} */